html{
    background-color: #0E8769;
}

.error {
    border: 2px solid #D8000C;
    color: #D8000C;
}

main{
    text-align: center;
    color: hsl(240, 100%, 99%);
    width: 100%;
    background-image :linear-gradient(0deg, #0E8769, #4ab7bc);
}

main p{
    margin: 0;
}

form{
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 3vh;
    width: 40%;
    display: inline-block;
    background-color: #FAFAFF;
    color: black;
    box-sizing: border-box;
    border-radius: 2vh;
    border-image: linear-gradient(180deg, #0E8769, #4ab7bc);
    box-shadow: #FAFAFF;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}   

form input{
    padding: 2vh;
    width: 60%;
    margin: 10px;
    margin-left: -3vh;
    transform: translateX(40%);
    border-radius: 2vh;
    border: 2px solid #0E8769;
    background-color: #FAFAFF;
    outline: none;
    font-size: large;
}


/* Permet d'empêcher le changement de couleur de fond quand des valeurs sont prérentrées par le nav */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


form label{
    padding: 0.5vh;
    position: relative;
    margin-left: 23%;
    top: 20px;
    left: 5px;
    z-index: 10;
    background-color: #FAFAFF;
}

#connexTitle{
    width: fit-content;
    margin: 2vh;
    padding-bottom: 2vh;
    color: #0E8769;
    border-bottom: #0E8769 2px solid;
}

.form-submit{
    display: inline-block;
    position: relative;
    left: -3vh;
    transform: translateX(40%);
    margin-top: 2vh;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0e8769;
    color: white;
    transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    text-transform: uppercase;
    width: 60%;
}

#inscri{
    display: inline-block   ;
    margin-top: 3vh;
    color: gray;
    text-decoration: none;
}

#inscri:hover{
    text-decoration: underline;
}

#niveau-etude{
    padding: 2vh;
    width: 60%;
    margin: 10px;
    margin-left: -3vh;
    transform: translateX(40%);
    border-radius: 2vh;
    border: 2px solid #0E8769;
    background-color: #FAFAFF;
    outline: none;
    font-size: large;
}

.msgInfo{
    text-align: center;
    color: gray;
    font-size: small;
    width: 100%;
    margin: 0;
}