/***** description de l'évènement - accessible à tous *****/

/* titre de l'évènement - nom du data challenge ou du data battle */
h3 {
    margin: 0px;
    padding: 0px;
    font-size: 45px;
    margin-bottom: 10px; /* écart entre le titre et le nom de l'entreprise */
}

/* informations sur l'évènement - dates de début et de fin, entreprise */
#infos-data-challenge {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

/***** cas 1 : l'utilisateur est connecté *****/
/* cas 1.1.1 : l'utilisateur est étudiant et chef d'équipe, il peut donc rendre une archive GitLab */

#texte-input-lien-gitlab {
    margin-bottom: 20px; /* écart entre la demandede l'URL GitLab et le bouton pour envoyer le lien */
}

#lien-code-gitlab {
    margin-top: 20px; /* écart entre la demande de l'URL GitLab et le sous-titre "Rendu" */
    font-size: 20px;
    /* les trois lignes ci-dessous permettent d'aligner verticalement les conteneurs "texte URL + input" et "bouton-envoi" */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lien-code-gitlab input {
    margin-left: 10px; /* écart entre le texte et le "input" */
    padding: 2px;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    font-size: 18px;
}

#lien-code-gitlab .boutons-rendu button, #lien-code-gitlab .boutons-rendu a {
    padding: 5px 15px 5px 15px; /* ordre : haut, droite, bas, gauche */
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 22px;
    background-color: rgb(56, 136, 106);
    color: white;
}


#lien-code-gitlab .boutons-rendu button:hover {
    cursor: pointer;
}

/* cas 1.2 : l'étudiant n'est pas inscrit au data challenge */

#bouton-inscription {
    display: flex;
    justify-content: center;
}

#bouton-inscription button a {
    color: white;
}

/* cas 1.2.2 : choix du projet data par le chef d'équipe, dans le cas d'un data challenge */

#choix-projet-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.projet-data {
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    text-align: justify;
}

.titre-projet-data {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgb(99, 99, 99);
    padding-bottom: 5px;
}

/* cas 2 : l'utilisateur n'est pas connecté */

#message-connexion {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}
