#liste-events a {
    color: black;
    transition: 0.3s ease;
}

#liste-events a:hover {
    opacity: 70%;
}

#liste-events .event {
    border-left: 3px solid rgba(255, 255, 255, 0); /* barre transparente pour que ça se décale pas lors du survol de la souris, adapter à la couleur de fond */
    transition: 0.3s ease;
}

#liste-events .event:hover {
    border-left: 3px solid rgb(56, 136, 106);
}

#liste-events .event {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 20px;
    font-size: 20px;
    text-align: justify;
}

#liste-events .event .titre-event {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgb(56, 136, 106);
    padding-bottom: 5px;
    color: rgb(56, 136, 106);
    font-size: 23px;
}

#liste-events .event p {
    margin-bottom: 0px;
}

#liste-events .event .infos-entreprise-dates {
    font-style: italic;
    font-size: 18px;
    margin-top: 8px;
}