menu-vert {
    width: 25%;
    background-color: white;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;

    gap:1em;
}

menu-vert h2{
    font-size: 30px;
    font-weight: 700;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}