/***** cas 1 : l'utilisateur est un admin ou un gestionnaire *****/

/*  conteneur du bouton de gestion des équipes */
#bouton-gestion-equipes {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

#liste-equipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* avec le "width: 30%" de la classe "equipe", permet de revenir de mettre maximum trois équipes par ligne */
}

#liste-equipes .equipe {
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

#liste-equipes .equipe .nom-equipe {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgb(99, 99, 99);
    padding-bottom: 5px;
}

/***** cas 2 : l'utilisateur est un étudiant *****/

/*  conteneur du bouton pour accéder au profil de son équipe */
#bouton-acces-equipe {
    display: flex;
    justify-content: right;
}

/***** questionnaire (pour les data battle, que si l'utilisateur est chef d'équipe) *****/

#questionnaire {
    display: flex;
    justify-content: center;
}

.question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 10px;
}

.question label {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.question input {
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    font-size: 20px;
    padding: 3px;
    padding-left: 7px;
}

#bouton-envoi-questionnaire {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}