/* conteneur général du podium */
#podium {
    display: flex; /* alignement horizontal des différentes places */
    justify-content: center; 
    align-items: flex-end; /* aligner les sous-conteneurs "place" avec le bas du conteneur "podium" */
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%; /* pour que ça prenne toute la largeur de la page */
}

/* place de chaque utilisateur : barre de score + nom + score */
#podium .place {
    width: 125px;
    bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

/* barres de score */
#podium .place .barre-score {
    height: 80px;
    border-radius: 15px 15px 0px 0px; /* ordre : haut gauche, haut droit, bas droit, bas gauche */
    margin-bottom: 10px; /* écart entre la barre de score et le rang */
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.6); /* ordre : droite, bas,  */
}

/* barre de score de la première équipe */
#podium .place #barre-score-premier {
    background-color: rgb(228, 195, 9);
}

/* barre de score de la seconde équipe */
#podium .place #barre-score-second {
    background-color: rgb(192, 192, 192);
}

/* barre de score de la troisième équipe */
#podium .place #barre-score-troisieme {
    background-color: rgb(205, 127, 50);
}

/* textes associés aux utilisateurs du podium : place, équipe, etc */
#podium .place .infos-score {
    text-align: center;
}

/* rang : 1er, 2ème ou 3ème */
#podium .place .infos-score .rang {
    font-weight: bold;
    font-size: 25px;
}

/* couleurs du rang */
#podium .place .infos-score .rang #premier {
    color: rgb(228, 195, 9);
}
#podium .place .infos-score .rang #second {
    color: rgb(192, 192, 192);
}
#podium .place .infos-score .rang #troisieme {
    color: rgb(205, 127, 50);
}

/* nom de l'équipe */
#podium .place .infos-score .nom-equipe {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}

/* score */
#podium .place .infos-score .score {
    font-size: 19px;
}