body{
    background-color: #FAFAFF;
}

.left-menu{
    position: fixed;
    display: block;
    float: left;
    width: 15%;
    margin-top: 3vh;
    border: 1px solid #2bb391;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.right-main{
    display: block;
    float: right;
    width: 75%;
    margin-top: 3vh;
    padding: 2vh;
    border: 1px solid #2bb391;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-main h1{
    width: fit-content;
    margin: 2vh;
    margin-top: 5vh;
    padding-bottom: 2vh;
    color: #0E8769;
    border-bottom: #0E8769 2px solid;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    width: 100%;
    list-style: none;
    font-size: 1.5em;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s;
}

li:hover{
    background-color: #0E8769;
    color: #FAFAFF;
}


li a{
    display: block;
    text-decoration: none;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    width: 100%;
    color: #0E8769;
}

li:hover a{
    color: #FAFAFF;
}

#infos p{
    color: #0E8769;
    font-size: 1.5em;
    
}

.btnStyle{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    margin-left: 3vh;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0e8769;
    color: white;
    transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    text-transform: uppercase;
    
}

.overlay {
    text-align: center;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
  }

  .overlay-content {
    position: relative;
    background-color: #FAFAFF;
    top: 5%;
    width: 60%;
    height: 90%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    overflow: scroll;
  }


  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }

  .overlay .closebtn:hover {
    color: #0E8769;
  }
  
  form{
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 3vh;
    width: 80%;
    display: inline-block;
    background-color: #FAFAFF;
    color: black;
    box-sizing: border-box;
    border-radius: 2vh;
    border-image: linear-gradient(180deg, #0E8769, #4ab7bc);
    box-shadow: #FAFAFF;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}   

form input, .utilInput{
    background-repeat: no-repeat; 
    margin: 2vh;
    width: 80%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    border-left: 2px solid #0e8769;  
    margin-bottom: 12px; 
}

label{
    display: block;
    margin-top: 2vh;
}


#niveau-etude{
    padding: 2vh;
    width: 60%;
    margin: 10px;
    margin-left: -3vh;
    transform: translateX(40%);
    border-radius: 2vh;
    border: 2px solid #0E8769;
    background-color: #FAFAFF;
    outline: none;
    font-size: large;
}